.construction{
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
}

.construction::-webkit-scrollbar {
    width: 8px;
    background-color: #2f2f37;
}

.construction::-webkit-scrollbar-thumb {
    background-color: #8585ad;
}

.dragIngredients {
    align-items: center;
    display: flex
}