p {
    align-self: flex-start;
}

.App{
    display: flex;
    flex-direction:  column;
}

.mainSection{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:  column;
}

.mainContent{
    display: flex;
}