.construction{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dragIngredients {
    align-items: center;
    display: flex;
    cursor: move;
}

.target {
    border: 1px forestgreen dotted;
}

.scrollIngredients{
    overflow-y: scroll;
}

.scrollIngredients::-webkit-scrollbar {
    width: 8px;
    background-color: #2f2f37;
}

.scrollIngredients::-webkit-scrollbar-thumb {
    background-color: #8585ad;
}