.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #24242F;
}

.menuItem{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.link{
    margin-left: 10px;
    text-decoration: none;
    outline : none;
    pointer-events:none;
    align-self: center;
}

.link:active{
    margin-left: 10px;
    text-decoration: none;
    outline : none;
    pointer-events:none;
    align-self: center;
}