.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #24242F;
}

.menuItem{
    display: flex;
    align-items: center;
}

.text{
    margin-left: 10px;
}