p {
    margin: 20px;
    align-self: flex-start;
}

.App{
    display: flex;
    flex-direction:  column;
}

.main-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:  column;
}

.inner-section{
    display: flex;
}

.build-burger{
    display: flex;
    flex-direction:  column;

}